name: Deploy Web to GitHub Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.9'
        channel: 'stable'
        cache: 'true'

    - name: Clean dependencies
      run: flutter clean

    - name: Clean Gradle
      run: cd android && ./gradlew clean && cd ..

    - name: Get dependencies
      run: flutter pub get --no-warn-on-embedding-mismatch

    - name: Check Flutter
      run: flutter doctor -v

    - name: Build Web
      run: flutter build web --release --base-url "/mydaily-planner/" --web-hostname "https://paulmap.github.io"

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/web
        destination_dir: mydaily-planner
